@import helper._

@main("Frequently Asked Questions") {

   <h1>Frequently Asked Questions</h1>
   	<div class="jumbotron">
   <h3><strong>Project Overview</strong></h3>

   <a href="@routes.AnalyticsController.getKnowledgeGraph">Analyze relationship between user and dataset, based on service usage.</a>
   <p>Analyze relationship between user and service, based on dataset usage.</p>
   <p>Analyze relationship between dataset and service, based on user.</p>
   <p>Analyze relationship between user and user, based on dataset usage.</p>
   <p>Analyze relationship between user and user, based on service usage.</p>
   <p>Analyze relationship between dataset and dataset, based on service usage.</p>
   <p>Analyze relationship between dataset and dataset, based on user.</p>
   <p>Analyze relationship between service and service, based on dataset usage.</p>
   <p>Analyze relationship between service and service, based on user.</p>
   
   
</div>
}