@import helper._

@main("Frequently Asked Questions") {

   <h1>Frequently Asked Questions</h1>
   <div class="container">
   <h3>About Knowledge Graph</h3>
   <ul>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph()'>Analyze relationship between user and dataset, based on service usage.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("User", "Service", "Dataset")'>Analyze relationship between user and service, based on dataset usage.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Dataset", "Service", "User")'>Analyze relationship between dataset and service, based on user.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("User", "User", "Dataset")'>Analyze relationship between user and user, based on dataset usage.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("User", "User", "Service")'>Analyze relationship between user and user, based on service usage.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Dataset", "Dataset", "Service")'>Analyze relationship between dataset and dataset, based on service usage.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Dataset", "Dataset", "User")'>Analyze relationship between dataset and dataset, based on user.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Service", "Service", "Dataset")'>Analyze relationship between service and service, based on dataset usage.</a>
   </li>
   <li style="margin-bottom: 5px;">
   <a href='@routes.AnalyticsController.getKnowledgeGraph("Service", "Service", "User")'>Analyze relationship between service and service, based on user.</a>
   </li>
   </ul>
   
	</div>
}