@(servicePage: String, confItems: List[ServiceConfigurationItem])

@import helper._

@scripts = {
	<script type="text/javascript">
	window.onload = function() {
		var value = "";
		var parameterName = "";
		var parameterRule = "";
		
		@for(confItem <- confItems) {
			var parameterType = "";
			var parameterValue = "";
			var parameterDefaultValue = "";
			parameterName = "@confItem.getParameterName()";
			parameterRule = "@confItem.getParameterRule()";
			value = "@confItem.getValue()";
			parameterType = parameterRule.split("*|")[1].split("|*")[1];
			parameterValue = parameterRule.split("*|")[2].split("|*")[1];
			parameterDefaultValue = parameterRule.split("*|")[3].split("|*")[1];
			
			switch (parameterType) {
				case "Input text":
					document.getElementById('endTime').value = parameterType;		           
		            break;
		        case "Input area":
		        	document.getElementById("Purpose1").innerHTML = "hahahah";
		            break;
		        case "Multiple selects":
		        	$( 'input' ).filter('[value="6"]').prop( "checked", false );
		            break;
		        case "Radio button":
		        	$( "#colorScale1" ).prop( "checked", true );
		            break;
		        case "Dropdown list":
		        	$( 'option:contains("NASA_TRMM")').attr('selected','selected');
		            break;
		        default:
		            
			}				
			//document.getElementById("Purpose1").innerHTML = "hahahah";
		}
		//only for testing
		//document.getElementById('startTime').value = parameterType;
	}
	</script>
}

@main("Service Details", scripts) {
	@Html(servicePage)
}
