@(userForm: play.data.Form[models.User])
@import helper._


<script type="text/javascript">
		function checkpwd(){
				var p1=document.getElementById("password").value;
				var p2=document.getElementById("repassword").value;
				if(p1!=p2){
					document.getElementById("msg").innerHTML="Please check that your passwords match";
					document.getElementById("create").disabled = true;
					
				}else{
					document.getElementById("msg").innerHTML = "";
					document.getElementById("create").disabled = false;
					return true;
				}
		}
</script>

@main("Signup") {  
	
	@helper.form(action = routes.Application.createNewUser) {
	
	<fieldset>
            <legend><font size="6">Registration</font></legend>
            
            @inputText(
                userForm("firstName"), 
                '_label -> "First name",                 
                '_error -> userForm.globalError                                
            )
            @inputText(
                userForm("middleInitial"), 
                '_label -> "Middle Initial",                 
                '_error -> userForm.globalError                                
            )
            @inputText(
                userForm("lastName"), 
                '_label -> "Last Name",               
                '_error -> userForm.globalError                                
            )

            <div class="form-group">
            <label>Password</label><br>
            <input type="text" id="password" name="password"/>
        	</div>
        	<div class="form-group">
            <label>Re-enter Password</label><br>
            <input type="text" id="repassword" name="repassword" oninput="checkpwd()"/>
        	</div>
        	<div id="msg" style="color:red;"></div>
        	
            @inputText(
                userForm("affiliation"), 
                '_label -> "Affiliation",                 
                '_error -> userForm.globalError                                
            )
            @inputText(
                userForm("title"), 
                '_label -> "Title",                 
                '_error -> userForm.globalError                              
            )
            @inputText(
                userForm("email"), 
                '_label -> "Email",             
                '_error -> userForm.globalError                                
            )
            @inputText(
                userForm("mailingAddress"), 
                '_label -> "Mailing Address",                 
                '_error -> userForm.globalError                                
            )
           
           @inputText(
                userForm("phoneNumber"), 
                '_label -> "Phone Number",                 
                '_error -> userForm.globalError                                
            )
            @inputText(
                userForm("faxNumber"), 
                '_label -> "Fax Number",                 
                '_error -> userForm.globalError                                
            )
            @inputText(
                userForm("researchFields"), 
                '_label -> "Research Fields",                
                '_error -> userForm.globalError                                
            )
            @inputText(
                userForm("highestDegree"), 
                '_label -> "Highest Degree",                 
                '_error -> userForm.globalError                                
            )
        </fieldset>
        
      
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create" id="create">
            <a href="@routes.Application.home()" class="btn">Cancel</a>
        </div>
}
}
