@(userForm: play.data.Form[models.User])

@main("Signup") {  

	<h1 class="text-center">Sign up</h1>
<br>
	
	@helper.form(routes.Application.createNewUser) {
	<div style="width:540px; margin-left:300px">
		<div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
        </div>
        <div class="form-group">
            <label>Middle Initial</label>
            <input type="text" class="form-control" id="middleInitial" name="middleInitial">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label>Affiliation</label>
            <input type="text" class="form-control" id="affiliation" name="affiliation">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label>Mailing Address</label>
            <input type="text" class="form-control" id="mailingAddress" name="mailingAddress">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">
            <label>Fax Number</label>
            <input type="text" class="form-control" id="faxNumber" name="faxNumber">
        </div>
        <div class="form-group">
            <label>Research Fields</label>
            <input type="text" class="form-control" id="researchFields" name="researchFields">
        </div>
        <div class="form-group">
            <label>Highest Degree</label>
            <input type="text" class="form-control" id="highestDegree" name="highestDegree">
        </div> 
        </div>   
        <p align="center">
            <button type="submit" class="btn btn-primary">create</button>
        </p>
        
     }
}
    

